<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.TwoFA"
            android:exported="false"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".Activities.CryptoExchangeRates"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.Reminder"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SummaryReport"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.IncomeSummary"
            android:exported="false"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".Activities.ExpensesDetail"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.EnterOTPRecovery"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.RecoverPassActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".Activities.ExpensesReport"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.AddIncome"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.AddCategory"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.AddExpenses"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SignUp.SignUp"
            android:exported="false"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".Activities.EnterOTP"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SignIn.SignIn"
            android:exported="false"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.Splash"
            android:exported="true"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".MyForegroundService" />
    </application>

</manifest>